.sign-in-container {
	width: 40em;
	box-shadow: 0em .5em .5em rgb(128, 128, 128);
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: column;
}