.topic-container {
	box-shadow: 0em .1em .1em rgba(0, 0, 0, 0.329);
	border-radius: 1em;
	padding: 2em 4em;
	text-align: center;

	img {
		height: 90%;
		width: 100%;
	}

	&:hover {
		padding: 1em 3em;
		transition: 300ms ease all;
	}
}